*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #DDD161;
}
a {
  color: #830000;
  text-decoration: none;
  position: relative;
  padding: 15px 40px;
  background-color: #df4141;
  font-size: 26px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  letter-spacing: 3px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.6s ease-in-out;
}
a::after, a::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  transition: all 0.6s ease-in-out;
}
a::after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #830000;
  border-left: 5px solid #830000;
}
a::before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #830000;
  border-right: 5px solid #830000;
}
a:hover {
  color: #a10000;
}
a:hover::after, a:hover::before {
  width: 103%;
  height: 108%;
  border-color: #a10000;
}